<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Todos</title>
</head>

<body>
    <h1>Todos</h1>

    <form action='logout/' method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout" />
    </form>

    <h2>Lists</h2>
    <ul>
        {% for list in lists %}
        <li>
            <a href="list/{{list.id}}">{{list.name}}</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Create</h2>
    <form action='create/' method="POST">
        <!-- Missing CSRF token -->
        <span>Name:</span>
        <input type="text" name="name" />
        <input type="submit" value="Create" />
    </form>
</body>

</html>